<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation">
    <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Contact</button>
  </li>
  <li>
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Proyectos
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button" href="https://battlerol.net/">BattleRol</button></li>
    <li><button class="dropdown-item" type="button">Parabellum</button></li>
    <li><button class="dropdown-item" type="button">Rocinante</button></li>
  </ul>
</li>
 </ul>
<br><br>
<img src="./assets/fotodeperfil.jpg" name="Sebastian Camerucci">
<br><br>
<h1>Sobre Mi</h1>
<br>
  <article>
  <p>Soy Sebastián Camerucci</p>
  <p>Naci en San Carlos, Mendoza.</p>
  <p>Creci en un falmilia con mis padres y hermanos.</p>
  <p>Soy muy responsable y un poco perfeccionista.</p>
  <p>Tengo pocos amigos, pero buenos. Mis actividades son pacíficas y en solitario, aunque me
      relaciono bien con las personas.</p>
  <p>Soy un apasionado de la Astronomía.
      Por mis actividades tengo poco tiempo para observar el cielo, lo que hacia continuamente en mi niñez y adolescencia.</p>
  <p>Sobre este tema comencé siendo autodidacta y también estuve estudiando la carrera de Astronomía</p>
      <br>
      <h2>Mi Proyecto Personal </h2>
      <br>
  <p>
      En la actualidad estoy completando el curso de Desarrollador Web Full Stack,
      el que no me resulto fácil, pero sé que con constancia y dedicación superaré esta etapa.
  </p>
  <p>
      Mi proximo objetivo es poder trabajar aplicando estos conocimientos, y que sea mi sostén
      económico para la vida
  </p>

  </article>
  <br>
  <!-- <form>
      <div>
          <textarea name="" id="" cols="50" rows="5"></textarea>
      </div>
      <input type="submit" >

  </form>-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
